@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


@keyframes GontobezIn {
    0%{transform: translateY(300pt) scale(0.5);}
    50%{transform: translateY(300pt) scale(1.5);}
    100%{transform: translateY(0pt) scale(1);}
}

@keyframes appear {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

h1.site_title {
    font-family: Poppins, sans-serif;
    text-align: center;
    color: #8ec07c;
    float: center;
    animation: GontobezIn 2s, appear 1s;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

body {
    background-color: #282828;
    overflow-x: hidden;
}

p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13pt;
    color: #282828;
    padding: 13pt;
}
